.app.green {
  --active-btn: #627e32;

  --hover-btn: #546c2b;

  // Primary text color
  --primary-text-color: #fff;

  // Secondary text color
  --secondary-text-color: #3d3d3d;

  background: url("/assets/fonts/images/bg/green.jpg");
}
