.app.green {
  //  Button
  --active-btn: #627e32;
  --static-btn: var(--active-btn);
  --hover-btn: #546c2b;
  // Input

  // Primary text color
  --primary-text-color: #fff;

  // Secondary text color
  --secondary-text-color: #3d3d3d;

  background-image: url("/assets/images/bg/green.jpg");
}
