.app.green {
  --logo-text-first: #627E32;
  --logo-text-second: #1D1D1D;
  //  Button
  --active-btn: #627e32;
  --hover-btn: #546c2b;
  --static-btn: var(--active-btn);

  // Input
  // --static-input: ;
  // --hover-input: ;
  // --active-input: ;

  // Primary text color
  --primary-text-color: #fff;

  // Secondary text color
  --secondary-text-color: #3d3d3d;

  background-image: url("/assets/images/bg/zoro.png");
}
