.app.purple {
  --color: #581c59;

  // Button
  --active-btn: #581c59;
  --static-btn: var(--active-btn);
  --hover-btn: #471748;

  // Input
  // --static-input: ;
  // --hover-input: ;
  // --active-input: ;

  // Primary text color
  --primary-text-color: #fff;

  // Secondary text color
  --secondary-text-color: #3d3d3d;

  background-image: url('/assets/images/bg/purple.webp');
}
